<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	<!-- utext se diferencia de text que se le pueden pasar caracteres especiales de html (&uacute;) mientras que text no los reconoce 
	(esto se usa para textos fijos de application.properties por ejemplo) -->
	<h3 th:utext="${factura.descripcion}"></h3>
	<div>
		Cliente: <span
			th:text="${factura.cliente.nombre + ' ' + factura.cliente.apellido}"></span>
	</div>
	<h4>Detalle de la factura</h4>
	<table>
		<thead>
			<tr>
				<th>Producto</th>
				<th>Precio</th>
				<th>Cantidad</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			<!-- nombre para el foreach: ${lista del foreach} -->
			<tr th:each="item: ${factura.items}">
				<td th:text="${item.producto.nombre}"></td>
				<td th:text="${item.producto.precio}+'€'"></td>
				<td th:text="${item.cantidad}+' ud'"></td>
				<td th:text="${item.calcularImporte(item.producto.precio)} + ' €'"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>